@charset "UTF-8";

#logo {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}


#logo img {
  width: 300px;      
  height: auto;      
  cursor: pointer;   
  transition: transform 0.3s ease;
}


#logo img:hover {
  transform: scale(1.05);
}